:root {
  --header-color: #7EC0EE;
}

.header-div {
  display: grid;
  color: #FFFFFF;
  background-color: var(--header-color);
  grid-template-rows: 5px 30px 5px;
  padding-left: 5px;
  border: 1px solid black;
}

.header-text {
  grid-row-start: 2;
}

.search-form {
  display: grid;
  margin: 10px;
  border-bottom: 1px solid black;
  grid-template-rows: 50px 50px 50px;
}

@media screen and (min-width: 700px) {
  .search-form {
    grid-template-columns: 20% auto 20%;
  }
}

.radius-selector {
  grid-row-start: 1;
  grid-column-start: 1;
  margin: 5px;
}

@media screen and (min-width: 700px) {
  .radius-selector {
    grid-column-start: 2;
  }
}

.radius-selector select {
  width: 50%;
}

.type-box {
  grid-row-start: 2;
  grid-column-start: 1;
  margin: 5px;
}

@media screen and (min-width: 700px) {
  .type-box {
    grid-column-start: 2;
  }
}

.type-box input {
  width: 50%;
}

.search-button {
  grid-row-start: 3;
  grid-column-start: 1;
  margin: 10px 10px 10px 0;
}

@media screen and (min-width: 700px) {
  .search-button {
    grid-column-start: 2;
  }
}

.venue-div {
    border: 1px solid black;
    margin: 5px 5px 10px 5px;
    font-size: 120%;
}

@media screen and (min-width: 700px) {
  .venue-div {
    width: 50%;
  }
}

.venue-name {
    color: #FFFFFF;
    background-color: var(--header-color);
    border-bottom: 1px solid black;
}

.no-results {
    margin-left: 10px;
}

.to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.error-text {
    color: red;
    margin: 3px;
}

.h1 {
  font-size: 150%;
  font-weight: bold;
  grid-row-start: 2;
}
