/* Setup global CSS variables */
:root {
  --header-color: #7EC0EE;
}

/* Setup styles for headers */
.b-header {
  display: grid;
  color: #FFFFFF;
  background-color: var(--header-color);
  padding-left: 2%;
  border: 1px solid black;
}

/* Setup styles for the page header */
.b-header_page {
  grid-template-rows: 5px 30px 5px;
}

/* Setup styles for the text in the page header */
.b-header__text {
  grid-row-start: 2;
  font-size: 150%;
  font-weight: bold;
  grid-row-start: 2;
}

/* Setup styles for the search form container, with media query to handle larger screens */
.b-form {
  display: grid;
  margin: 10px;
  border-bottom: 1px solid black;
  grid-template-rows: 50px 50px 50px;
}

@media screen and (min-width: 700px) {
  .b-form {
    grid-template-columns: 20% auto 20%;
  }
}

.b-radio {
  grid-row-start: 2;
  grid-column-start: 1;
  text-align: center;
  margin: 5px;
  font-size: 120%;
  display: none;
}

@media screen and (min-width: 700px) {
  .b-radio {
    grid-column-start: 2; 
  }
}

.b-radio__radio-input {
  background: #FFFFFF;  
  padding: 5px;
  border: 1px solid black;
  display: inline;
}

.b-radio__radio-input_selected {
  background: var(--header-color);  
}

.b-radio input[type="radio"] {
  opacity: 0;
}

/* Setup styles for the search radius dropdown select container, with media query to handle larger screens */
.b-select {
  grid-row-start: 2;
  grid-column-start: 1;
  margin: 5px;
}

@media screen and (min-width: 700px) {
  .b-select {
    grid-column-start: 2;
  }
}

/* Setup styles for the search radius dropdown select */
.b-select select {
  width: 50%;
}

.b-select_radius {
  display: none;
}

/* Setup styles for the venue type search box container, with media query to handle larger screens */
.b-text-input {
  grid-row-start: 1;
  grid-column-start: 1;
  text-align: center;
  margin: 5px;
}

@media screen and (min-width: 700px) {
  .b-text-input {
    grid-column-start: 2;
  }
}

/* Setup styles for the venue type input box */
.b-text-input input {
  width: 50%;
}

/* Setup styles for the search button container, with media query to handle larger screens */
.b-button_search {
  grid-row-start: 3;
  grid-column-start: 1;
  margin: 10px 10px 10px 0;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .b-button_search {
    grid-column-start: 2;
  }
}

/* Setup styles for the display of each individual venue result, with media query to handle larger screens */
.b-result {
    border: 1px solid black;
    margin: 5px 5px 10px 5px;
    font-size: 120%;
}

@media screen and (min-width: 700px) {
  .b-result {
    width: 50%;
  }
}

/* Setup styles for the display of the name of each venue */
.b-header_result {
  color: #FFFFFF;
  background-color: var(--header-color);
  border-bottom: 1px solid black;
}

/* Setup styles for the display of the 'No Results' message */
.no-results {
    margin-left: 10px;
}

.b-button {
  cursor: pointer;
}

/* Setup styles for the display of the To Top button */
.b-button_to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* Setup styles for the display of error or validation messages */
.b-error-text {
  color: red;
  margin: 3px;
}
