/* Setup global CSS variables */
:root {
  --header-color: #7EC0EE;
  --border-color: #999999;
  --button-color-success: #7EC0EE;
  --default-font-size: 120%;
  --header-font-size: 150%;
}

/* Set header to have a background color and white text, to be bold, and to be slightly indented */
.header {
  color: #FFFFFF;
  background-color: var(--header-color);
  font-size: var(--header-font-size);
  font-weight: bold;
  padding-left: 2%;
}

/* Setup buttons to have pointer cursor, set the font size, and round the corners */
.button button {
  cursor: pointer;
  font-size: var(--default-font-size);
  border-radius: 8px;
  margin: 5px;
}

/* Set image buttons to have pointer cursor so they appear to be clickable */
.button img {
  cursor: pointer;
}

/* Setup style for right-aligned button, in case something needs to go to the left of the button */
.button--right-align {
  grid-column-start: 2;
  justify-self: start;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .button--right-align {
    width: 10%;
  }
}

/* Set radio items to have centered content and a small margin, set font size */
.radio {
  text-align: center;
  margin: 5px;
  font-size: var(--default-font-size);
}

/* Set text input items to have centered content and a small margin. */
.text-input {
  text-align: center;
  margin: 5px;
}

/* Set font size and width for actual input field in text-input. */
.text-input input {
  font-size: var(--default-font-size);
  width: 90%;
}

/* Setup style for a left-aligned text input field, if something needs to go to the right of the input */
.text-input--left-align {
  grid-column-start: 1;
  justify-self: center;
}

@media screen and (min-width: 700px) {
  .text-input--left-align {
    justify-self: end;
  }
}

/* Set forms to take up full width of the screen */
.form {
  width: 100%;
  margin: 3rem 10px 10px 0;
  border-bottom: 1px solid black;
}

/* Set up a grid in which to display the text inputs of the form */
.form__text-inputs {
  display: grid;
  grid-template-columns: 80% 20%;
  justify-items: center;
  align-items: center;
}

@media screen and (min-width: 700px) {
  .form__text-inputs {
    grid-template-columns: 50% 50%;
    justify-items: center;
  }
}

/* Setup styles for the page header */
.header--page {
  display: grid;
  grid-template-rows: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid var(--border-color);
  align-items: center;
}

/* Set the search form to have a top margin to place it below the fixed header, and 
to have a bottom border to separate it from the search results */
.form--search {
  margin: 4rem 10px 10px 0;
  border-bottom: 1px solid black;
}

/* Set the radius element to be hidden by default */
.radio--radius {
  display: none;
}

/* Hide the actual radio inputs in the 'radius' input so only the labels show */
.radio--radius input[type="radio"] {
  display: none;
}

/* Set up a grid to display the 3 radius options in a row */
.radio--radius__inputs {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 90%;
}

/* Set text of radius options to grey by default, with a small padding */
.inputs__radio-input {
  color: #999999;
  background: #FFFFFF;  
  padding: 5px;
}

/* Set the cursor to pointer over radio labels so they appear to be clickable */
.inputs__radio-input label {
  cursor: pointer;
}

/* Set positioning of each radio option in the CSS grid */
.radio-input--left {
  grid-row-start: 1;
  grid-column-start: 1;
}

.radio-input--center {
  grid-row-start: 1;
  grid-column-start: 2;
}

.radio-input--right {
  grid-row-start: 1;
  grid-column-start: 3;
}

/* Set the text color of the selected radio option to black, add a bottom border */
.inputs__radio-input--selected {
  color: #000000;
  border-bottom: 2px solid black;
}

/* Set search button to 70% width, and center the text. margin: 0 auto to make it work in Safari  */
.button--search button {
  width: 70%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/* Give individual results a border, indent them slightly, and set the font size */
.results__result {
  border: 1px solid black;
  margin: 5px 5px 10px 5px;
  font-size: var(--default-font-size);
}

/* On a larger screen, set the results to 50% width so they don't look enormous with a lot of 
empty space */
@media screen and (min-width: 700px) {
  .results__result {
    width: 50%;
  }
}

/* Give the header of each result a background color, a bottom border, and set font color to 
white. */
.result__header {
  color: #FFFFFF;
  background-color: var(--header-color);
  border-bottom: 1px solid black;
}

/* Set font size and indent the No Results text */
.results__no-result-text {
  font-size: var(--default-font-size);
  margin-left: 10px;
}

/* Give a 'success' button the correct text and background colors */
.button--success button {
  color: #FFFFFF;
  background: var(--button-color-success);
}

/* Position the 'to top' button in the bottom right corner */
.button--to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* Set font size, color and indent the error or validation text */
.validation-message {
  font-size: var(--default-font-size);
  color: red;
  margin-left: 10px;
}
